<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .card {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              max-width: 300px;
              margin: auto;
              text-align: center;
              font-family: arial;
            }
            
            .title {
              color: grey;
              font-size: 18px;
            }
            
            button {
              border: none;
              outline: 0;
              display: inline-block;
              padding: 8px;
              color: white;
              background-color: #000;
              text-align: center;
              cursor: pointer;
              width: 100%;
              font-size: 18px;
            }
            
            a {
              text-decoration: none;
              font-size: 22px;
              color: black;
            }
            
            button:hover, a:hover {
              opacity: 0.7;
            }
            * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



            
            </style>
    </head>
<body>
    <%-include("partial/navbar")%>
    <h1>INI PROFILE</h1>
    <h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="https://cdn-radar.jawapos.com/uploads/radarkudus/news/2020/11/02/gambar-wajah-orang-berujung-uang_m_222402.jpg" alt="John" style="width:100%">
  <h1><%=data.name%></h1>
  <p class="title"><%=data.email%></p>
  <p><%=data.address%></p>
</div>
<div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2>Pending Laundry</h2>
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>Completed Laundry</h2>
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:#ccc;">
      <h2>Transaction History</h2>
      <p>Some text..</p>
    </div>
  </div>
</body>
</html>